# Data-Visualization-App

In [1]:
# Import Needed Project Libraries
import pandas as pd 
import streamlit as st 
import plotly as pt 
import altair as at

In [3]:
vehicles_data = pd.read_csv('vehicles_us.csv')
vehicles_data.info()
vehicles_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [5]:
vehicles_data['date_posted'] = pd.to_datetime(vehicles_data['date_posted'])
vehicles_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(6)
memory usage: 5.1+ MB

In [6]:
vehicles_data['is_4wd'] = vehicles_data['is_4wd'].fillna(0)
vehicles_data['is_4wd'] = vehicles_data['is_4wd'].astype(int)

In [8]:
vehicles_data.info()
vehicles_data.sample(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        51525 non-null  int32
 11  date_posted   51525 non-null  datetime64[ns]
 12  days_listed   51525 non-null  int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(2), object(6)
memory usage: 4.9+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
44337,6000,2005.0,gmc yukon,excellent,8.0,gas,112000.0,automatic,SUV,white,1,2018-06-12,52
42572,29748,2016.0,ford f-150,excellent,8.0,gas,48223.0,automatic,truck,red,1,2018-05-04,21
3862,22000,2015.0,chevrolet silverado 1500,excellent,8.0,gas,NaN,automatic,truck,silver,1,2018-12-29,22
29350,61046,2018.0,chevrolet silverado 2500hd,excellent,8.0,diesel,NaN,automatic,truck,white,1,2018-05-27,128
26616,17975,NaN,chevrolet corvette,excellent,8.0,gas,40095.0,automatic,convertible,silver,0,2019-01-28,37
35363,26985,2012.0,ram 3500,excellent,6.0,diesel,137869.0,automatic,pickup,white,1,2019-02-27,75
22124,15995,2014.0,volkswagen passat,excellent,4.0,diesel,NaN,automatic,sedan,silver,0,2018-11-26,16
43139,6200,2004.0,chevrolet silverado 1500,good,8.0,gas,112000.0,automatic,pickup,white,0,2018-11-08,31
7317,21900,2013.0,chevrolet silverado 1500 crew,good,8.0,other,73779.0,other,pickup,red,1,2018-12-15,13
37218,3995,2011.0,nissan versa,excellent,4.0,gas,155000.0,automatic,hatchback,silver,0,2018-12-20,22
5038,9994,2011.0,hyundai sonata,excellent,4.0,gas,NaN,automatic,sedan,red,0,2019-03-06,6
23813,20700,2008.0,ford f250,good,8.0,diesel,132809.0,automatic,truck,grey,1,2019-04-11,16
8127,8997,2011.0,ford ranger,excellent,4.0,gas,110689.0,automatic,truck,blue,0,2019-02-09,5
20307,4995,2004.0,ford expedition,good,8.0,gas,214347.0,automatic,SUV,NaN,1,2018-11-06,71
29154,3979,2005.0,nissan altima,excellent,6.0,gas,157640.0,automatic,sedan,brown,0,2018-12-20,20
24803,4900,2005.0,chevrolet equinox,good,6.0,gas,116250.0,automatic,SUV,grey,1,2018-12-23,46
10268,17955,2016.0,ford mustang,good,4.0,gas,40949.0,automatic,coupe,white,0,2019-03-18,94
8749,4850,NaN,honda pilot,excellent,6.0,gas,NaN,automatic,SUV,black,0,2019-03-31,42
4519,2200,NaN,subaru impreza,good,4.0,gas,218000.0,automatic,sedan,silver,1,2019-02-24,14
14432,20995,2017.0,ram 1500,excellent,6.0,gas,69000.0,automatic,pickup,silver,0,2018-11-26,33